.img-fluid{
    border-radius: 50%;
}

img{
    margin-top: -3.5em;
}

.home-section{
    height: 990px;
    padding-top: 150px;
}

.home-header{
    padding-bottom: 50px;
    margin-top: 20px;
    text-align: left;
    color:slategrey
}

.heading{
    font-size: 2.4em;
    padding-top: 150px;
    margin-bottom: 20px;
}

.heading-name{
    color: black;
    font-size: 2.5em;
    font-family: "Montserrat";
    font-weight: 900;
    text-align: center;
}

.green{
    color:darkseagreen;
}

.home-about-section{
    position: relative;
    padding-bottom: 70px;
    text-align: center;
}

.home-introduction-body{
    color:slategrey;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: .58em;
    font-family: 'Poppins';
    font-weight: 600;
}

.home-main-body{
    text-align: left;
    font-size: 80%;
    font-weight: 200;
}