
/* HOME SECTION */
.home-section{
    position: relative;
}

.home-header{
    padding-top: 100px;
    padding: 50px;
    text-align: left;
    color:slategrey
}

.heading{
    font-size: 2.4em;
    padding-left: 50px;
    padding-bottom: 20px;
    padding-top: 150px;
}

.heading-name{
    font-size: 2.5em;
    padding-left: 50px;
}

.green{
    color:darkseagreen;
}

.home-about-section{
    position: relative;
    padding-bottom: 70px;
    text-align: center;
}

.home-introduction-body{
    color:slategrey;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: .5em;
}

/* PROJECTS */
.project-section {
    position: relative;
    padding-top: 150px;
    padding-bottom: 30px;
}

.project-card{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    height: auto;
}

.project-card-view{
    box-shadow: 0 3px 4px 3px darkseagreen;
    color: slategray;
    background-color: transparent;
    opacity: 0.9;
    transition: all 0.5s ease 0s;
    height: 100%;
}

.project-card-view:hover{
    transform: scale(1.02);
    box-shadow: 0 4px 4px 5px darkseagreen;
}

/* FOOTER */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}
  
.footer-body {
    text-align: center !important;
}
  
@media (max-width: 767px) {
    .footer-copywright {
      text-align: center !important;
    }
  
    .footer-body {
      text-align: center !important;
    }
}
  
.footer h3 {
    font-size: 1em;
    color:darkgray;
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}

.social-icons {
    display: inline-block !important;
    padding-right: 15px;
    padding-left: 15px;
}