/* NAVBAR */
.navbar{
    background-color: white;
}

/* HOME SECTION */
.img-fluid{
    border-radius: 70%;
}
.home-section{
    position: relative;
}

.home-header{
    padding-top: 100px;
    padding: 50px;
    text-align: left;
    color:slategrey
}

.heading{
    font-size: 2.4em;
    padding-left: 50px;
    padding-bottom: 20px;
    padding-top: 150px;
}

.heading-name{
    color: black;
    font-size: 2.5em;
    padding-left: 50px;
}

.green{
    color:darkseagreen;
}

.home-about-section{
    position: relative;
    padding-bottom: 70px;
    text-align: center;
}

.home-introduction-body{
    color:slategrey;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: .5em;
}

.home-main-body{
    text-align: left;
}

/* PROJECTS */
.project-section {
    position: relative;
    padding-top: 150px;
    padding-bottom: 30px;
}

.project-card{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    height: auto;
}

.project-card-view{
    height: 100%;
    box-sizing: border-box;
    border: solid;
    border-color: white;
    box-shadow: 7px 7px 0 darkseagreen;
    transition: all 0.132s ease !important;
    text-decoration: none;
    color: slategray;
}

.project-card-view:hover{
    transform: scale(1.02);
    box-shadow: 7px 7px 0 rgb(100, 131, 100);

}

/* FOOTER */
.footer {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 2.5rem;
    margin-top: -2.5rem;
}
  
.footer-body {
    text-align: center;
}

.footer-contact{
    text-align: right;
}

@media (max-width: 767px) {
    .footer-copywright {
      text-align: center;
    }
  
    .footer-body {
      text-align: center;
    }
}
  
.footer h3 {
    font-size: 1em;
    color:darkgray;
    margin-top: 0.5em ;
    margin-bottom: 0.5em ;
}

.social-icons {
    display: inline-block !important;
    padding-right: 15px;
    padding-left: 15px;
}